body{
    background-image: url(new\ york.jpg);
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-left: 50px;
    background-size: 1600px 745px;
}
.navbar{
    margin-top:30px ;
    margin-bottom: 50px;
}
#requiredoption{
    visibility: hidden;
    color: red;
}

.searchbtn{
    margin-top: 50px;
}
.content{
    margin-top: 293px;
    background-color: white;
    color: black; 
    text-align: center;
    opacity:70%;
}