body{
    margin-left: 50px;
}
.requiredoptions{
    visibility: hidden;
    color: red;
}
.currency{
    margin-bottom: 30px;
}
.searchbtn{
    margin-left: 180px;
}
.airlines{
    margin-bottom:50px ;
}